<div class="full-height" >

<div class="container" fxLayout='row wrap' fxLayoutAlign="space-around">
    <mat-card  class="classCard" routerLink="/hci">
        <mat-card-title-group>
        <mat-card-title >
            Human Computer Interaction
        </mat-card-title>
        <mat-card-subtitle> CS 6750</mat-card-subtitle>
        </mat-card-title-group>
    <mat-card-content> 
        <img src="assets/hcinception.png">
    </mat-card-content>
    </mat-card>
    <mat-card class="classCard" routerLink="/cn">
      <mat-card-title-group>
        <mat-card-title >
            Computer Networks
        </mat-card-title>
        <mat-card-subtitle> CS 6250</mat-card-subtitle>
        </mat-card-title-group>
<mat-card-content>
    <img src="assets/cn.jpg">
</mat-card-content>
    </mat-card>
    </div>
</div>