.sidenav-container {
  height: 100%;
  overflow: hidden;
}

.sidenav {
  width: 200px;
  overflow-x: hidden;
  height: 100%;
}

.sidenav .mat-toolbar {
  background: accent;
  color: accent;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

::ng-deep .mat-drawer-inner-container {
  position: relative;
  overflow: unset;
  overflow: hidden !important;
}

.content {
  height: 90%;
}
.topbar {
  height: 5%;
}
.footer {
  height: 5%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
