<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color=accent>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFill>Classes</div>
        <piazza-close-button fxFlex="none" (buttonClick)="drawer.toggle()"></piazza-close-button>
      </div>
    </mat-toolbar>
    <div class='custom-mat-drawer-container'>
    <mat-nav-list class="links">
    
      <mat-list-item>
        <img matListAvatar src="assets/hcinception.png">
        <a href="hci">Human Computer Interaction</a>
      </mat-list-item>
      <mat-list-item>
        <img matListAvatar src="assets/cn.jpg">

        <a href="cn">Computer Networking</a>
      </mat-list-item>
    </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="!drawer.opened">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/piazza_logo.png" />
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
   
  </mat-sidenav-content>
</mat-sidenav-container>